/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 p {
  color: rgb(104, 101, 101);
 }

 .container {
  text-decoration: solid;
  text-align: center;
  width: 600px;
  margin: 150px auto;
  font-size: larger;
  box-shadow: 10px 5px 5px rgb(221, 221, 221);
  background-color: rgb(170, 184, 184);
 }

 p {
  color: rgb(104, 101, 101);
 }
 #form {
  padding-bottom: 60px;
  margin: 50px auto ;
  border-radius: 50%;
 }
 .container {
  padding: 200px auto;
  text-decoration: solid;
  text-align: center;
  width: 600px;
  margin: 150px auto;
  font-size: larger;
  box-shadow: 10px 5px 5px rgb(221, 221, 221);
  background-color: rgb(170, 184, 184);
 }
 .ask {
  text-decoration: none;
  color: aquamarine;
 }
 .ask :hover {
  color: rgb(246, 97, 97);
 }
